$black: #222;
$blackrgba: rgba(34,34,34,0.8);
$white: #fff;
$whiteRgba: rgba(255,255,255,0.5);
$darkBlue: #02719f;
$lightBlue: #009ada;
$darkLazac: #f04854;
$darkLazac2: #ea5b65;
$darkLazac2rgba: rgba(234, 91, 101, 0.8);
$lightLazac: #fa7583;
$green: #49a36c;
$greenRgba: rgba(73, 163, 108, 0.85);
$green2: #689b57;
$cardShadow: rgba(0,0,0,0.1);